html
  head
    // TODO: dynamic title based on schema
    title= "hello"
    link(rel='stylesheet', href='/edit.css', type='text/css')
    link(rel="stylesheet", href="https://unpkg.com/spectre.css/dist/spectre.min.css")
    link(rel="stylesheet", href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css")
    link(rel="stylesheet", href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css")
    script(src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js")
    script.
        JSONEditor.defaults.theme = 'spectre';
        JSONEditor.defaults.iconlib = 'spectre';
        window.onload = function(event) {
            var schemaOpts = !{JSON.stringify(schema)};
            const element = document.getElementById('json-editor-container');
            const editor = new JSONEditor(element, schemaOpts);
        }
  body 
    div(class="main-container")
      h1= "Config Editor"
      div(id="json-editor-container")
      // TODO: Add "post" button that sets the body as the json result