.main-container {
    max-width: 960px;
    margin: 40 auto;
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 15;
}

.blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }